body {
    margin: 0;
    background: #383838;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a9a9a9;
}

.container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 900px;
}

.carrossel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 30s infinite forwards linear;
}


.imagem {
    position: absolute;
    width: 290px;
    height: 187px;
    top: 40px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5) ;
    display: flex;
}

.imagem span {
    margin: auto;
    font-size: 1em;
}


@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}
.imagem:nth-child(1) {
background-image: url(https://www.stockvault.net/data/2016/06/05/201374/preview16.jpg);
transform: rotateY(0deg) translateZ(430px);
}
.imagem:nth-child(2){
    background-image: url(https://www.stockvault.net/data/2016/06/24/202961/preview16.jpg);
    transform: rotateY(40deg) translateZ(430px);
}
.imagem:nth-child(3){
background-image: url(https://www.stockvault.net/data/2016/06/22/202703/preview16.jpg);
transform: rotateY(80deg) translateZ(430px);
}
.imagem:nth-child(4){
    background-image: url(https://www.stockvault.net/data/2016/03/12/187332/preview16.jpg);
    transform: rotateY(120deg) translateZ(430px);
}
.imagem:nth-child(5){
    background-image: url(https://www.stockvault.net/data/2016/06/14/201675/preview16.jpg);
    transform: rotateY(160deg) translateZ(430px);
}
.imagem:nth-child(6){
    background-image: url(https://www.stockvault.net/data/2016/09/15/209790/preview16.jpg);
    transform: rotateY(200deg) translateZ(430px);
}
.imagem:nth-child(7){
    background-image: url(https://www.stockvault.net/data/2016/09/20/210288/preview16.jpg);
    transform: rotateY(240deg) translateZ(430px);
}
.imagem:nth-child(8){
    background-image: url(https://www.stockvault.net/data/2016/08/28/208577/preview16.jpg);
    transform: rotateY(280deg) translateZ(430px);
}
.imagem:nth-child(9){
    background-image: url(https://www.stockvault.net/data/2016/03/26/191182/preview16.jpg);
    transform: rotateY(320deg) translateZ(430px);
}
footer{
    font-size: large;
    position: fixed;
    width: 100%;
    bottom: 0vh;
    left: 0;
    text-align: center;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: larger;
}